#scene5{
  #ice-cream{
    top: 100px;
    left: 160px;
  }
  #flogging{
    top: 80px;
    left: 620px;
  }
  #twilight{
    top: 170px;
    left: 320px;
  }
  .fromGod{
    .visionText{
      display: block;
      -webkit-animation: wiggle 1s infinite alternate linear;
    }
  }
}