#scene4{
  #knights{
    top: 100px;
    left: 200px;
  }
  #kites{
    top: 100px;
    left: 600px;
  }
  #lights{
    top: 100px;
    left: 400px;
  }
  .fromGod{
    .visionText{
      display: block;
      -webkit-animation: wiggle 1s infinite alternate linear;
    }
  }
}