#scene6{
  #husbands{
    top: 130px;
    left: 160px;
  }
  #trojan-horse{
    top: 160px;
    left: 630px;
  }
  #ice-cream2{
    top: 100px;
    left: 380px;
  }
  .fromGod{
    .visionText{
      display: block;
      -webkit-animation: wiggle 1s infinite alternate linear;
    }
  }
}