#scene3{
  #high-road{
    top: 100px;
    left: 200px;
  }
  #low-road{
    top: 100px;
    left: 600px;
  }
  #yellowbrick{
    top: 100px;
    left: 400px;
  }
  .fromGod{
    .visionText{
      display: block;
      -webkit-animation: wiggle 1s infinite alternate linear;
    }
  }
}