#scene7{
  #ice-cream3{
    top: 100px;
    left: 200px;
  }
  #education{
    top: 100px;
    left: 600px;
  }
  #take-nap{
    top: 100px;
    left: 400px;
  }
  .fromGod{
    .visionText{
      display: block;
      -webkit-animation: wiggle 1s infinite alternate linear;
    }
  }
}