#scene6{
  #husbands{
    top: 100px;
    left: 200px;
  }
  #trojan-horse{
    top: 100px;
    left: 600px;
  }
  #ice-cream2{
    top: 100px;
    left: 400px;
  }
  .fromGod{
    .visionText{
      display: block;
      -webkit-animation: wiggle 1s infinite alternate linear;
    }
  }
}