#scene7{
  #ice-cream3{
    top: 90px;
    left: 110px;
  }
  #education{
    top: 70px;
    left: 510px;
  }
  #take-nap{
    top: 200px;
    left: 310px;
  }
  .fromGod{
    .visionText{
      display: block;
      -webkit-animation: wiggle 1s infinite alternate linear;
      animation: wiggle 1s infinite alternate linear;
    }
  }
}