#scene5{
  #ice-cream{
    top: 100px;
    left: 110px;
  }
  #flogging{
    top: 70px;
    left: 580px;
  }
  #twilight{
    top: 170px;
    left: 290px;
  }
  .fromGod{
    .visionText{
      display: block;
      -webkit-animation: wiggle 1s infinite alternate linear;
      animation: wiggle 1s infinite alternate linear;
    }
  }
}