#scene1{
  #peasants{
    top: 100px;
    left: 130px;
  }
  #pheasants{
    top: 70px;
    left: 510px;
  }
  #nobility{
    top: 170px;
    left: 330px;
  }
  .fromGod{
    .visionText{
      color: #000000;
      font-size: 40px;
      span{
        display: block;
        font-size: 200px;
        text-shadow: 2px 2px 10px black;
        -webkit-animation: wiggle 1s infinite alternate linear;
      }
    }
  }
}