@backgroundColor: #353535;

body{
  background-color: #353535;
}
.gameWrapper{
  position: relative;
  width: 900px;
  height: 506px;
  margin: auto;
  background-color: #eeffb8;
  box-shadow: inset 0 0 20px @backgroundColor,
              inset 0 0 20px @backgroundColor,
              inset 0 0 20px @backgroundColor,
              inset 0 0 20px @backgroundColor;
}

.scene {
  padding: 20px;
  position: absolute;
  opacity: 0;
  z-index: -1;
  transition: opacity 1s;
  text-align: center;
  width: 900px;
  height: 506px;
  &.active{
    opacity: 1;
    z-index: 1;
  }
}